.end-screen {
    text-align: center;
    padding: 20px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.end-screen h1 {
    font-size: 2rem;
    color: #333;
}

.end-screen p {
    font-size: 1.2rem;
    margin: 15px 0;
}

.restart-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #cfe738;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #cfe737;
}