#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  height: auto;
}

/* .cardTop {} */

.cardBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
}

.answerDisplay {
  border: 3px solid rgb(8, 241, 8);
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.answerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 3px solid rgb(8, 241, 8);
}

.answerButton:hover {
  background-color: rgb(8, 241, 8);
  border-color: black;
}

.answerButton:active {
  background-color: rgb(8, 241, 8);
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

button {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-right: 5px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}